.cart-text {
  font-weight: 700;
  font-size: 40px;
  line-height: 110%;
  color: #020c31;
}

.container2 {
  width: 100%;
}

.line {
  margin-top: 24px;
  width: 100%;
  height: 1.2px;
  background-color: #020c31;
}

.card-item {
  width: 344px;
  height: 200px;
  padding: 10px;
}

.card {
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-item > h4 {
  margin-top: 10px;
  font-weight: 600;
  font-size: 28px;
  line-height: 133%;
  text-transform: capitalize;
  color: #020c31;
  margin-top: 10px;
}

.card-item > p {
  margin-top: 10px;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #676d83;
  margin-top: 10px;
}

.dizenfeksiya-card {
  position: relative;
  margin-top: 100px;
}

.dizenfeksiya-card-item > h4 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 42px;
  width: 600px;
  line-height: 120%;
  color: #fafafa;
}

.dizenfeksiya-card-item > p {
  font-family: var(--second-family);
  font-weight: 400;
  margin-top: 15px;
  font-size: 18px;
  line-height: 150%;
  color: #fff;
}

.dizenfeksiya-card > img {
  width: 100%;
  object-fit: cover;
}

.dizenfeksiya-card-item {
  position: absolute;
  top: 150px;
  right: 100px;
  width: 600px;
}

.dizen-btn {
  margin-top: 15px;
  border-radius: 20px;
  width: 190px;
  height: 40px;
  background: #3360ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-transform: capitalize;
  color: #fff;
  cursor: pointer;
}

.dizen-btn:hover {
  background: #fff;
  color: #3360ff;
  border: 2px solid #3360ff;
}

/* servise */
.servise {
  margin-top: 100px;
}

.service-card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  margin-top: 80px;
}

.servise > h4 {
  font-weight: 700;
  font-size: 52px;
  line-height: 123%;
  text-transform: capitalize;
  color: #020c31;
}

.servise > p {
  font-weight: 400;
  font-size: 18px;
  line-height: 133%;
  color: #666;
}

.service-card-item {
  background: #f3f6f6;
  border-radius: 12px;
  width: 443px;
  height: 500px;
}

.service-card-item > h4 {
  font-weight: 700;
  font-size: 32px;
  color: #020c31;
  width: 200px;
  margin-left: 40px;
  margin-top: 40px;
}

.service-card-item > p {
  width: 300px;
  color: #222326;
  font-size: 18px;
  margin-left: 40px;
  margin-top: 20px;
}

.service-card-item > img {
  border-radius: 10px;
  margin-top: 100px;
  margin-left: 290px;
}

/* secruty */

.secruty {
  background: radial-gradient(
    498.32% 130.33% at 92.87% 11.25%,
    rgb(51, 169, 255) 0%,
    rgb(51, 255, 243) 100%
  );
  height: 574px;
  margin-top: 80px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.secruty-img > img {
  border-radius: 26px;
  width: 95%;
}

.secruty-text > h4 {
  width: 500px;
  font-weight: 700;
  font-size: 42px;
  line-height: 150%;
  color: #fafafa;
}

.secruty-btn {
  margin-top: 35px;
  border-radius: 20px;
  width: 190px;
  height: 40px;
  background: #3360ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-transform: capitalize;
  color: #fff;
  cursor: pointer;
  transition: 0.3ms;
}

.secruty-btn:hover {
  background: #fff;
  color: #3360ff;
  border: 2px solid #3360ff;
}

.comment {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.comment-faq {
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  color: #020c31;
  margin-bottom: 40px;
}

.acardion-item img {
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.acardion-item img.rotate {
  transform: rotate(180deg);
}

.acardion-item img:hover {
  filter: brightness(70%);
}

.acardion {
  height: 500px;
}

.acardion-item {
  width: 1000px;
  margin-top: 60px;
}

.acardion-item > span {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.acardion-text {
  font-size: 18px;
}

.acardion-item > span > h4 {
  font-weight: 500;
  font-size: 34px;
  line-height: 133%;
  color: #676d83;
}

@media (max-width: 1201px) {
}

@media (max-width: 1101px) {
}

@media (max-width: 1001px) {
  .dizenfeksiya-card-item > h4 {
    font-weight: 700;
    font-size: 32px;
    width: 600px;
    line-height: 120%;
    color: #fafafa;
  }

  .dizenfeksiya-card-item > p {
    font-weight: 400;
    margin-top: 15px;
    font-size: 18px;
    line-height: 150%;
    color: #fff;
  }

  .dizenfeksiya-card-item {
    top: 100px;
  }

  .service-card {
    display: flex;
    flex-direction: column;
  }

  .service-card-item {
    width: 90%;
    height: 380px;
  }

  .service-card-item > img {
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 690px;
  }

  .service-card-item > p {
    width: 600px;
  }
}

@media (max-width: 901px) {
  .acardion-item {
    width: 900px;
  }
}

@media (max-width: 801px) {
  .service-card-item > img {
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 590px;
  }

  .acardion-item {
    width: 800px;
  }

  .secruty-text > h4 {
    width: 400px;
    font-weight: 700;
  }
}

@media (max-width: 701px) {
  .acardion-item {
    width: 700px;
  }

  .service-card-item > img {
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 500px;
  }

  .service-card-item > p {
    width: 500px;
  }
}

@media (max-width: 601px) {
  .card {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 30px;
  }

  .dizenfeksiya-card-item > h4 {
    font-weight: 700;
    font-size: 22px;
    width: 500px;
    line-height: 120%;
    color: #fafafa;
  }

  .dizenfeksiya-card-item > p {
    font-weight: 400;
    margin-top: 15px;
    font-size: 18px;
    line-height: 150%;
    color: #fff;
  }

  .dizenfeksiya-card-item {
    top: 30px;
    width: 400px;
  }

  .service-card-item > img {
    margin-left: 400px;
  }

  .secruty-img > img {
    display: none;
  }

  .acardion-item {
    width: 600px;
  }
}

@media (max-width: 501px) {
  .card {
    display: grid;
    grid-template-columns: auto;
  }

  .card-item {
    margin-top: 40px;
  }

  .acardion-item {
    width: 500px;
  }

  .service-card-item > img {
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 300px;
  }

  .service-card-item > p {
    width: 400px;
  }
}

@media (max-width: 401px) {
  .dizenfeksiya-card-item {
    top: 30px;
    width: 200px;
  }

  .dizenfeksiya-card-item > h4 {
    font-weight: 700;
    font-size: 22px;
    width: 200px;
    line-height: 120%;
    color: #fafafa;
  }

  .dizenfeksiya-card > img {
    height: 300px;
  }
  .service-card-item > img {
    margin-left: 200px;
  }

  .service-card-item > p {
    width: 250px;
  }

  .service-card-item {
    height: 470px;
  }

  .acardion-item {
    width: 400px;
  }
}

@media (max-width: 320px) {
}
