.head-text {
  font-weight: 700;
  font-size: 64px;
  line-height: 112%;
  color: #3375ff;
  width: 400px;
}
/* 
.header-container {
  margin-top: 90px;
  display: flex;
  align-items: center;
} */

.head-text-1 {
  font-weight: 400;
  margin-top: 30px;
  font-size: 19px;
  line-height: 150%;
  color: #676d83;
  width: 400px;
}

.head-btn {
  margin-top: 15px;
  border-radius: 20px;
  width: 190px;
  height: 40px;
  background: #3360ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-transform: capitalize;
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
}

.head-btn:hover {
  background: #fff;
  color: #3360ff;
  border: 2px solid #3360ff;
}

.row {
  margin: 80px 0px;
  gap: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.head-img {
  border-radius: 16px;
  width: 674px;
  height: 540px;
}

@media (max-width: 1201px) {
  .head-img {
    width: 574px;
    height: 510px;
    object-fit: cover;
  }
}

@media (max-width: 835px) {
  .head-img {
    display: none;
  }

  .head-text {
    margin-top: 20px;
    width: 400px;
    font-size: 70px;
  }

  .head-text-1 {
    font-size: 30px;
  }
}

@media (max-width: 768px) {
  .head-text {
    margin-top: 20px;
    width: 300px;
    font-size: 35px;
  }

  .head-text-1 {
    font-size: 18px;
    width: 300px;
  }

  .row {
    margin-left: 20px;
  }
}
