.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px 90px;
}

.translation {
  width: 120px;
  border: 2px solid #3360ff;
  padding: 8px;
  border-radius: 10px;
  height: 40px;
  font-weight: 700;
  color: #3360ff;
  font-size: 15px;
  line-height: 150%;
  text-transform: capitalize;
  cursor: pointer;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 1000; /* Yuqori ustunlik */
  padding: 0px 0px; /* Pastki va yon tomondan uzaytirish */
}

.navbar-logo {
  width: 195px;
  height: 24px;
  font-size: 35px;
  font-weight: 900;
  color: #3360ff;
}

.link {
  color: #000;
}

.link:hover {
  color: #3360ff;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 30px;
}

.navigation > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 30px;
}

.navigation ul li {
  color: #3360ff;
  font-size: 20px;
}

.nav-btn {
  border-radius: 20px;
  width: 190px;
  height: 40px;
  background: #3360ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-transform: capitalize;
  color: #fff;
  cursor: pointer;
}

.nav-btn:hover {
  background: #fff;
  color: #3360ff;
  border: 2px solid #3360ff;
}

.burger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.line {
  width: 30px;
  height: 2px;
  background-color: #000;
  margin: 4px;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 1000px) {
  .burger-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: fixed;
    top: 28px;
    right: 5px;
    z-index: 1100;
  }

  .navigation {
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    background-color: #fff;
    box-shadow: -1px 0 7px rgba(0, 0, 0, 0.1);
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav-tab {
    display: flex;
    flex-direction: column;
    align-items: end;
  }

  .navigation.active {
    transform: translateX(0); /* Menyu ochiladi */
  }

  .navigation ul {
    padding: 20px; /* Menyuning ichki qismi orqali (yo'l, qiyofa, past bo'lish) */
  }
}

@media (max-width: 768px) {
  .container {
    gap: 50px;
    margin: 20px;
  }
}
