.connection {
  border-radius: 12px;
  width: 100%;
  height: 448px;
  background: radial-gradient(
    333.17% 80.94% at 51.32% 69.21%,
    rgb(61, 160, 252) 0%,
    rgb(2, 227, 214) 100%
  );
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 100px;
}

.form > input {
  border: 1px solid black;
  border-radius: 8px;
  width: 408px;
  height: 48px;
  background: #f2f2f2;
  margin-bottom: 20px;
  margin-left: 20px;
}

.forma > h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 125%;
  color: #242825;
  margin: auto;
}

.forma {
  background: #fff;
  border-radius: 8px;
  width: 456px;
  height: 384px;
  display: grid;
  align-items: center;
  justify-content: center;
}

.forma-btn {
  background: #242825;
  border-radius: 8px;
  width: 408px;
  height: 48px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
  margin-left: 20px;
  cursor: pointer;
}

.forma-btn:hover {
  background: #191b19;
}

.connect-text > p {
  width: 300px;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: #fafafa;

  margin-top: 20px;
}

.connect-img {
  display: flex;
  justify-content: center;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.footer-logo {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  color: #3360ff;
  width: 195px;
  height: 24px;
}

.location {
  display: flex;
  flex-direction: column;
}

.location > span {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 15px;
  font-size: 20px;
  margin-top: 20px;
}

.social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 30px;
}

.social-media > button {
  border-radius: 30px;
  padding: 10px;
  width: 308px;
  height: 48px;
  background: #f2f2f2;
  cursor: pointer;
  transition: all 0.5ms;
}

.social-media > button:nth-child(1):hover {
  background: #3360ff;
  color: #fff;
}

.social-media > button:nth-child(2):hover {
  background: #da3e26;
  color: #fff;
}

.social-media > button:nth-child(3):hover {
  background: #4898cd;
  color: #fff;
}
.modal {
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Modalni o'rtasida joylash */
  align-items: center; /* Modalni o'rtasida joylash */
}

.modal-content {
  background-color: #fefefe;
  margin: 0 auto; /* Marginni o'zgartirib oling */
  padding: 20px;
  border: 1px solid #888;
  max-width: 80%; /* Modalning maksimal kengligini o'zgartirib oling */
  max-height: 80%; /* Modalning maksimal balandligini o'zgartirib oling */
  overflow: auto; /* Agar modal o'lchamdan kattaroq bo'lsa, skrollarni qo'shing */
  border-radius: 10px;
}

.modal-text {
  font-size: 25px;
  color: #186bdf;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 1301px) {
  .connect-text {
    display: none;
  }

  .forma {
    background: #fff;
    border-radius: 8px;
    width: 436px;
    height: 364px;
    display: grid;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 1251px) {
  .footer {
    display: flex;
    flex-direction: column;
  }

  .footer-contact {
    margin-top: 30px;
  }
}

@media (max-width: 1201px) {
}

@media (max-width: 1151px) {
}

@media (max-width: 1051px) {
  /* .form > input {
    border: 1px solid black;
    border-radius: 8px;
    width: 308px;
    height: 38px;
    background: #f2f2f2;
    margin-bottom: 20px;
    margin-left: 20px;
  }

  .forma > h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 125%;
    color: #242825;
    margin: auto;
  }

  .forma {
    width: 406px;
    height: 304px;
    margin-left: 20px;
  }

  .forma-btn {
    width: 308px;
    height: 38px;
  } */
}

@media (max-width: 1001px) {
}

@media (max-width: 951px) {
  .connect-img {
    display: none;
  }
}

@media (max-width: 901px) {
}

@media (max-width: 851px) {
}

@media (max-width: 801px) {
}

@media (max-width: 751px) {
}

@media (max-width: 701px) {
}

@media (max-width: 651px) {
}

@media (max-width: 601px) {
}

@media (max-width: 551px) {
}

@media (max-width: 501px) {
  .form > input {
    border: 1px solid black;
    border-radius: 8px;
    width: 308px;
    height: 38px;
    background: #f2f2f2;
    margin-bottom: 20px;
    margin-left: 20px;
  }

  .forma > h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 125%;
    color: #242825;
    margin: auto;
  }

  .forma {
    width: 360px;
    height: 304px;
    margin-left: 20px;
  }

  .forma-btn {
    width: 308px;
    height: 38px;
  }
}

@media (max-width: 451px) {
}

@media (max-width: 401px) {
  .form > input {
    width: 290px;
  }

  .forma > h2 {
    font-size: 28px;
  }

  .forma {
    width: 340px;
    height: 304px;
    margin-left: 10px;
  }

  .forma-btn {
    width: 290px;
    height: 38px;
  }
}

@media (max-width: 380px) {
  .form > input {
    width: 270px;
  }

  .forma > h2 {
    font-size: 24px;
  }

  .forma {
    width: 310px;
    height: 304px;
    margin-left: 3px;
  }

  .forma-btn {
    width: 270px;
    height: 38px;
  }
}
